/* Header Styles */
.happy-new-year {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

.new-year-party {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 0;
    gap: 0;

}

.starter {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/Banner\ Image.png");

    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 100px;
    padding-top: 145px;
    padding-bottom: 6px;

}
.off{
    font-size: 70px;
    font-weight: 800;
    color: red;
    padding-top: 35px;
    text-align: center;

}