/* Header Section Styles */
.happy-new-year {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

.new-year-party {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 0;
    gap: 0;

}

.starter {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/Banner\ Image.png");

    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 100px;
    padding-top: 145px;
    padding-bottom: 6px;

}
.off{
    font-size: 70px;
    font-weight: 800;
    color: red;
    padding-top: 35px;
    text-align: center;

}
.holiday-deals{
    text-align: center;
    font-size: 18px;
    color: rgb(201, 28, 28);
    font-weight: 600;
    
}
.all-categories{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* Main Section Styles */
.new-year-photo{
    text-align: center;
}
.chill{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    margin:40px 80px;
    padding-bottom: 50px;
    padding-right: 30px;
    
    
}
.midnight-party{
    font-size: 70px;
    color: white;
    font-family: 900;
}
.random{
    color: rgb(199, 205, 209);
}
.all{
    padding-top: 50px;
    padding-left: 130px;
    
}
.image{
    padding-top: 80px;
}
.join-now{
    margin-left: 40px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    
}
.timing{
    background-color:antiquewhite;
    margin: 120px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 20px;
    font-weight: 900;
}
.heading{
    color: red;
    
}
.button-n{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.offer{
    display: flex;
    margin:120px;
    gap: 100px;
}
.gg{
    flex:1;
}
.new-best-offer{
    color:rgba(214, 7, 7, 0.473)
}
.coming-soon{
    font-size: 45px;
    font-weight: 700;
}
.des{
    color: rgba(70, 66, 62, 0.568);
}
.year{
    font-size: 40px;
    color: rgba(255, 0, 0, 0.829);
    font-weight: 700;
}
#what-is-functional{
    text-align: center;
    font-weight: 700;
    color: rgb(29, 28, 28);
}
#holidays-sale{
    color: rgb(238, 14, 14);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}
#Sale{
    color: rgb(24, 22, 22);
}
#text-text{
    margin: 0px 250px;
}
.text-headline{
    margin: 10px 500px 10px 100px;
}
.the-best-gifts{
    color: rgb(204, 17, 17);
    font-weight: 700;
}
.our-awesome{
    font-size: 30px;
    font-weight: 800;
}
.black-para{
    color: rgb(34, 33, 33);
}
h4{
    margin: 10px;
    
}
.all-pic{
    margin: 100px;
}
nav>img{
    height: 370px;
    width: 370px;
    margin-top: 10px;
}
.email{
    text-align: center;
    margin: 100px;
    background-color: blanchedalmond;
    padding: 60px;
    
}
.email-para{
    padding: 10px 120px;
    
}
.newsletter{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#light{
    color: rgb(109, 105, 105);
}

#tt{
    padding: 8px;
    font-size: 15px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#tty{
    padding: 7px;
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 13px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer{
    background-color: rgb(24, 17, 31);
    padding: 60px 150px;
    color: rgb(199, 187, 187);
    font-weight: 600;
    
}
.first-half{
    display: flex;
}
.right-side{
    padding-left: 600px;
}
#social-link{
    text-align: center;
}
footer>div>a>img{
    height: 40px;
    width: 40px;
}
#right-side-button{
    margin-left: 700px;
    border: none;
    color: rgb(199, 187, 187);
   
}
footer>div>p>a{
    text-decoration: none;
    color: inherit;
}
.logo{
    height: 13px;
    width:13px;
}